body, input, button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 30vh;
}

.logo h1 {
    font-size: 44px;
    color: #62B93A;
}

input {
    background: #C4C4C4;
    border-radius: 8px;
    width: 100%;
    padding: 15px 0;
    outline: 0;
    border: 0;
    margin-bottom: 28px;
}

input::placeholder {
    padding-left: 10px;
}

button {
    width: 100%;
    padding: 15px 0;
    background: #62B93A;
    color: #fff;
    border-radius: 8px;
    outline: 0;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
}

button.cadastre {
    background: #fff;
    color: #6D6D6D;
}

.input-area {
    width: 100%;
}